/*
  Reset some basic elements
*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

/*
  Basic styling
*/

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  color: $text-color;
}

h1 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-family: $site-title-font-family;
  font-weight: 700;
  letter-spacing: 0.05em;
}
h2 {
  font-size: 2rem;
  font-family: $header-font-family;
  letter-spacing: 0.15em;
}
h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: $header-font-family;
  letter-spacing: 0.15em;
  text-decoration: none;
}
h4 {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: $header-font-family;
  letter-spacing: 0.15em;
  text-align: center;
}
h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: $header-font-family;
  letter-spacing: 0.15em;
}

/* Body */
body {
  font-family: $base-font-family;
  font-weight: 300;
  color: $text-color;
}
body img {
    align: middle;
    margin: 5px auto auto auto;
    display: block;
    max-width: 600px;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.65;
  font-family: $body-font-family;
  font-weight: 300;
  color: $text-color;
}

/* Lists */
ul, ol, dl {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  font-family: $body-font-family;
  font-weight: 300;
  color: $text-color;
}

ol li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  color: $text-color;
}

li {
  margin-bottom: 1rem;
  color: $text-color;
}

dt {
  font-weight: bold;
  color: $text-color;
}
dd {
  margin-bottom: .5rem;
  color: $text-color;
}

/*
  Links
*/

a {
  color: $brand-color;
}

/*
  Blockquote
*/

blockquote {
  margin: 10px 20px 10px;
  padding: 0px 15px;
  border-left: 0.25em solid #ccc;
  color: rgb(209, 207, 207);
  line-height: 1.5;

/**
 * Tables
 */
 table {
     border-collapse: collapse;
     margin-bottom: 30px;
     width: 100%;
 }

 table, th, td {
     border: 1px solid white;
 }
 th, td {
     padding: 15px;
     text-align: left;
     color: $text-color;
 }


/*
 Fonts
 */

@font-face {
  font-family: moon;
  src: url("/assets/fonts/moon.otf") format('opentype');
  font-weight: 100;
}
