---
const entries = Astro.locals.starlightBlog.posts
const entryTags = new Map()

for (const entry of entries) {
    for (const tag of entry.tags) {
        const infos = entryTags.get(tag.href) ?? { entries: 0, label: tag.label }
    
        infos.entries++;
    
        entryTags.set(tag.href, infos)
    }
}

interface TagDetail {
    path : string;
    label : string;
    count : number;
}

const entriesArray : Array<TagDetail> = []

entryTags.entries().forEach((entry) => {
    entriesArray.push({
        path: entry[0],
        label: entry[1].label,
        count: entry[1].entries
    })
})

entriesArray.sort((a, b) => a.label.localeCompare(b.label))
---

<ul>
    {
        entriesArray.map((entry) => { 
            return (<li><a href={entry.path}>{entry.label} ({entry.count})</a></li>)
        })
    }
</ul>